@import url('https://fonts.googleapis.com/css2?family=Trade+Gothic+LT+Extended:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Trade Gothic LT Extended', sans-serif;
}

@keyframes rotateFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.rotate-flip {
  animation: rotateFlip 5s ease-in-out infinite;
}


/* loader */
.skeleton-loader {
  display: flex;
  flex-direction: column;
}

.skeleton-loader-item {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ddd; /* Adjust the background color as needed */
  border-radius: 4px;
}



/* spinner */
.spinner {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}