@import url('https://fonts.googleapis.com/css2?family=Trade+Gothic+LT+Extended:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Trade Gothic LT Extended', sans-serif;
}

@keyframes rotateFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.rotate-flip {
  animation: rotateFlip 5s ease-in-out infinite;
}


/* loader */
.skeleton-loader {
  display: flex;
  flex-direction: column;
}

.skeleton-loader-item {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ddd; /* Adjust the background color as needed */
  border-radius: 4px;
}

